/* Add styling for your page here */

.App {
  text-align: center;
}

h1 {
  text-align: center;
  padding: 20px;
  text-shadow: 0 1px 1px rgba;
  text-transform: uppercase;
}

.main {
  display: flex;
  flex-direction: row;
}

.BakeryContainer  {
    flex: 75%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px;
}

.BakeryItem {
  width: 300px;
  height: auto;
  background-color: #DCEAFC;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  padding: 20px;
}

.BakeryImage {
  max-width: 18vw;
  max-height: 18vw;
}

.FilterOptions{
  flex: 45%;
  float: left;
  margin: 20px;
  padding: 20px;
}

.Banner{
  overflow: hidden; 
  display: flex; 
  justify-content:space-around;
}

.Icon {
  padding: 20px;
}